.article-editable {
  font-family: Poppins;
  font-size: 14px;
  width: 525px;
  height: 88px;
  flex-shrink: 0;
  border-bottom: 1px solid #bcbcbc;
  display: inline-flex;
}

.bookmark {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding:3px;
  margin-top: 29px;
  margin-left: 90px;
}
