.bookmark {
  margin-top: 20px;
  padding-left: 5px;
  padding-top: 0px;
  width: 18px;
  height: 22px ;
  flex-shrink: 0;
  visibility: visible;
  float: right;
  margin-right: 27px;
}

.bookmark-button {
  visibility: collapse;
}
