.App {
  min-height: 1050px;
  min-width: 100vw;
  text-align: left;
  font-family: "poppins", sans-serif;
  /* font-family: "source-sans-pro", sans-serif; */
  background-color: #3A4259;
}

::-webkit-scrollbar {
	background-color: #3A4259;
  color:#3A4259;
	width: 16px;
}
::-webkit-scrollbar-thumb {
	background-color: #578099;
}