.ai-response-node {
    height: 70px;
    width: 145px;
    border: 1px solid #efe5e5;
    padding: 5px;
    border-radius: 5px;
    background: #ad6675;
  }
  
  .ai-response-node label {
    display: block;
    color: #ede3e3;
    font-size: 14px;
    font-family:monospace;
  }

  .ai-response-node p {
    display: block;
    color: #d6c9c9;
    font-size: 12px;
    font-family:monospace;
  }