.text-updater-node {
    height: 70px;
    width: 145px;
    border: 1px solid #e3e4ec;
    padding: 5px;
    border-radius: 5px;
    background: #2c2c32;
  }
  
  .text-updater-node label {
    display: block;
    color: #e3e4ec;
    font-size: 12px;
    font-family:monospace;
  }

  .text-updater-node button {
    height: 20px;
    padding-top:1px;
    padding-bottom: 7px;
    color: #e3e4ec;
    font-size: 12px;
    text-align:center;
    vertical-align: middle;
    background-color: #813747;
    border: 1px solid #351219;
    border-top-color: #cbaaaa;
    border-left: #cbaaaa;
    border-right: #cbaaaa;
    font-family:monospace;
  }

  .text-updater-node input {
    color: #2e1818;
    font-size: 12px;
    text-align:left;
    background-color: #e3e4ec;
    border-color: rgb(150, 155, 185);
    font-family:monospace;
  }