.banner {
  min-width: 1904px;
  height: 116px;
  flex-shrink: 0;
  background: #578099;
  display: inline-flex;
}

.heading-in-banner {
  display: flex;
  width: 376px;
  height: 42px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 48px;
  padding-top: 15px;
  margin-right: 15px;
  margin-top: 27px;
}

.sidebar-arrow-button {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  margin-left: 48px;
  margin-top: 42px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px;
}

.sidebar-arrow-button:hover {
  cursor: pointer;
}

.banner-edit-button {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: transparent;
  stroke: none;
  border: none;
  padding: 5px;
  margin-top: 60px;
  margin-right: 1140px;
  margin-left: none;
  padding-left: none;
  padding-top: 0px;
  float: left;
  top: 2px;
}

.heading-in-banner:hover .banner-edit-button:hover {
  stroke:#eb9d6a;
  cursor: pointer;
}

.heading-in-banner:hover .banner-edit-button:hover {
  stroke:#eb9d6a;
  cursor: pointer;
}

.banner-edit-button:hover {
  stroke:#eb9d6a;
  cursor: pointer;
}

.heading-in-banner:hover .banner-edit-button {
  stroke:#ffff;
  cursor: pointer;
}

.banner-company-name-change-input {
  width: 376px;
  height: 45px;
  flex-direction: column;
  flex-shrink: 0;
  color: #eb9d6a;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 48px;
  padding-top: 15px;
  margin-right: 15px;
  margin-top: 27px;
  background-color: transparent;
  border: none;
}