.banner {
  height: 116px;
  flex-shrink: 0;
  background: #578099;
  display: flex;
}

.heading-in-banner {
  display: flex;
  width: 376px;
  height: 42px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 48px;
  padding-top: 15px;
}

.sidebar-arrow-button {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  margin-left: 48px;
  margin-top: 42px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px;
}

.sidebar-arrow-button:hover {
  cursor: pointer;
}
