.saved-articles-banner {
  height: 116px;
  flex-shrink: 0;
  background: transparent;
  display: flex;
}

.company-name-in-saved-articles {
  margin-right: 12px;
  padding-right: 0px;
  display: flex;
  height: 42px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 48px;
  padding-top: 15px;
}

.saved-articles-heading {
  height: 27px;
  margin-top: 56px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Poppins;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.sidebar-arrow-button {
  margin-top: 45px;
}