.saved-article-form-box {
    width: 525px;
    height: 814px;
    flex-shrink: 0;
    background: #fbfbfc;
    margin-top: 32px;
    margin-left: 48px;
    border: 1px solid #bcbcbc;
  }
  
  .full-article {
    height: 640px;
    scroll-behavior: smooth;
    overflow: scroll;
  }
  
  .full-article::-webkit-scrollbar {
    background-color: #fbfbfc;
    width: 16px;
  }
  
  .full-article::-webkit-scrollbar-thumb {
    background-color: #578099;
  }
  
  .full-article::-webkit-scrollbar-thumb:hover {
    background-color: #3a4259;
  }
  
  .article-header {
    height: fit-content;
    color: var(--primary, #000);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 25px */
  }
  
  .article-subheader {
    height: fit-content;
    color: var(--primary, #000);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 22.5px */
  }
  
  .article-body-text {
    width: 416px;
    height: fit-content;
    flex-shrink: 0;
    margin-top: 24px;
    font-family: "source-sans-pro", sans-serif;
    color: var(--primary, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  
  .saved-article-bookmark {
    font-family: Poppins;
    font-size: 14px;
    width: 525px;
    height: 88px;
    flex-shrink: 0;
    border-bottom: 1px solid #bcbcbc;
    display: flex;
  }
  
  .saved-bookmark-button {
    margin-left: 457px !important;
  }