.ai-response-node {
  height:fit-content;
  width: 145px;
  border: 1px solid #545198;
  padding: 5px;
  border-radius: 5px;
  background: #424284;
}

.ai-response-node label {
  display: block;
  color: #e5e3ed;
  font-size: 14px;
  font-family: monospace;
}

.ai-response-node p {
  display: block;
  color: #cac9d6;
  font-size: 12px;
  width: 140px;
  font-family: monospace;
  word-wrap: break-word;
}

.ai-response-node button {
  height: 20px;
  padding-top: 1px;
  top: 0px;
  left: 1px;
  font-size: 12px;
  text-align: center;
  background-color: #c2c2dc;
  color: rgb(72, 68, 84);
  border: 1px solid #514a68;
  font-family: monospace;
}

.ai-response-node button:hover {
  height: 20px;
  padding-top: 1px;
  font-size: 12px;
  text-align: center;
  background-color: #a9a9c6;
  color: rgb(72, 68, 84);
  border: 1px solid #514a68;
  font-family: monospace;
}

