.ai-response-node {
    height: 70px;
    width: 145px;
    border: 1px solid #e6e5ef;
    padding: 5px;
    border-radius: 5px;
    background: #6766ad;
  }
  
  .ai-response-node label {
    display: block;
    color: #e5e3ed;
    font-size: 14px;
    font-family:monospace;
  }

  .ai-response-node p {
    display: block;
    color: #cac9d6;
    font-size: 12px;
    font-family:monospace;
  }

  .ai-response-node button {
    height: 20px;
    padding-top:1px;
    font-size: 12px;
    text-align:center;
    background-color: #c2c2dc;
    color: rgb(72, 68, 84);
    border: 1px solid #514a68;
    font-family: monospace;
  }