.text-updater-node {
    height: 70px;
    width: 145px;
    border: 1px solid #e3e4ec;
    padding: 5px;
    border-radius: 5px;
    background: #2c2c32;
  }
  
  .text-updater-node label {
    display: block;
    color: #e3e4ec;
    font-size: 12px;
    font-family:monospace;
  }

  .text-updater-node button {
    height: 20px;
    padding-top:1px;
    font-size: 12px;
    text-align:center;
    background-color: rgb(86, 90, 131);
    color: rgb(244, 240, 255);
    border: 1px solid #1a1235;
    font-family:monospace;
  }

  .text-updater-node input {
    color: #1c182e;
    height: 18px;
    font-size: 12px;
    text-align:left;
    background-color: #e3e4ec;
    border-color: rgb(150, 155, 185);
    font-family:monospace;
    border-style:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: center;
  }